@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

* {
    color: #ffffff;
    text-align: center;
    font-family: 'Reem Kufi', sans-serif;
}

body, #calculator {
    margin:0;
    background: #1e1e23;
    display:flex;
    justify-content:center;
    gap: 6px;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

#calculator div {
    background: #ff5540;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 20px #571d16 inset;
    padding-top: 10px;
    cursor: pointer;
}
